<?xml version="1.0"?>
<launch>

    <arg name="sim" default="true" />
    <arg name="gui" default="true" doc="Starts gazebo gui" />
    <arg name="paused" default="false" doc="Starts gazebo in paused mode" />

    <arg name="name" default="robot" />
    <arg name="x_pos" default="0.0" />
    <arg name="y_pos" default="0.0" />
    <arg name="z_pos" default="0.0" />
    <arg name="roll" default="0.0" />
    <arg name="pitch" default="0.0" />
    <arg name="yaw" default="0.0" />

    <!-- velodyne -->
    <!-- <arg name="gpu" default="false" /> -->
    <!-- velodyne -->

    <!-- startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" default="worlds/empty.world" /> -->
        <arg name="world_name" default="$(find atom_test_rgb_camera_description)/worlds/mmtbot.world" /> 
        <arg name="paused" value="$(arg paused)" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find atom_test_rgb_camera_description)/urdf/robot.xacro" />

    <!-- Send robot states to tf -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <!-- velodyne -->
        <!-- <param name="publish_frequency" type="double" value="30.0" /> -->
        <!-- velodyne -->
    </node>

    <!-- spawn the robot -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg name) 
        -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)
        -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
        -param robot_description" />

    <!-- include launch to charuco -->
    <include file="$(find atom_test_rgb_camera_bringup)/launch/charuco.launch">
    </include>

    <!-- include launch to visualize -->
    <include file="$(find atom_test_rgb_camera_bringup)/launch/visualize.launch">
    </include>



</launch>