<?xml version="1.0" ?>
<robot name="robot" version="1.0">
  <joint name="cameraR_joint" type="fixed">
    <origin xyz="0.0 0.05 0.015" rpy="0.0 0.0 0.0"/>
    <parent link="tripod_right_support"/>
    <child link="cameraR_link"/>
  </joint>
  <link name="cameraR_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.564"/>
      <inertia ixx="0.003881243" ixy="0.0" ixz="0.0" iyy="0.00049894" iyz="0.0" izz="0.003879257"/>
    </inertial>
    <visual>
      <origin xyz="-0.03 -0.06 0.0" rpy="3.141592653589793 0.0 1.5707963267948966"/>
      <geometry>
        <mesh filename="package://tripod_rgb_rgb_description/meshes/sensors/astra2.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.01 -0.06 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.04 0.165 0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="cameraR_rgb_joint" type="fixed">
    <origin xyz="0.0015852242481868087 -0.03864900666402652 -0.002025505961040485" rpy="-0.025147803193546217 -0.001787723424488931 0.003488664971791907"/>
    <parent link="cameraR_link"/>
    <child link="cameraR_rgb_frame"/>
  </joint>
  <link name="cameraR_rgb_frame"/>
  <joint name="cameraR_rgb_optical_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="-1.5707963267948966 0.0 -1.5707963267948966"/>
    <parent link="cameraR_rgb_frame"/>
    <child link="cameraR_rgb_optical_frame"/>
  </joint>
  <link name="cameraR_rgb_optical_frame"/>
  <joint name="cameraR_depth_joint" type="fixed">
    <origin xyz="0.0 -0.02 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="cameraR_link"/>
    <child link="cameraR_depth_frame"/>
  </joint>
  <link name="cameraR_depth_frame"/>
  <joint name="cameraR_depth_optical_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="-1.5707963267948966 0.0 -1.5707963267948966"/>
    <parent link="cameraR_depth_frame"/>
    <child link="cameraR_depth_optical_frame"/>
  </joint>
  <link name="cameraR_depth_optical_frame"/>
  <gazebo reference="cameraR_depth_frame">
    <sensor name="camera" type="depth">
      <always_on>true</always_on>
      <update_rate>20.0</update_rate>
      <camera>
        <horizontal_fov>1.0471975511965976</horizontal_fov>
        <image>
          <format>B8G8R8</format>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.10</near>
          <far>8.0</far>
        </clip>
      </camera>
      <plugin filename="libgazebo_ros_openni_kinect.so" name="cameraR_camera_controller">
        <cameraName>cameraR</cameraName>
        <alwaysOn>true</alwaysOn>
        <updateRate>10</updateRate>
        <imageTopicName>rgb/image_raw</imageTopicName>
        <depthImageTopicName>depth/image_raw</depthImageTopicName>
        <pointCloudTopicName>depth/points</pointCloudTopicName>
        <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
        <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
        <frameName>cameraR_depth_optical_frame</frameName>
        <baseline>0.1</baseline>
        <distortion_k1>0.0</distortion_k1>
        <distortion_k2>0.0</distortion_k2>
        <distortion_k3>0.0</distortion_k3>
        <distortion_t1>0.0</distortion_t1>
        <distortion_t2>0.0</distortion_t2>
        <pointCloudCutoff>0.4</pointCloudCutoff>
      </plugin>
    </sensor>
  </gazebo>
  <material name="grey">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  <link name="world"/>
  <link name="tripod">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://tripod_rgb_rgb_description/meshes/tripod/tripod.dae" scale="0.04 0.04 0.04"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision name="tripod_collision">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://tripod_rgb_rgb_description/meshes/tripod/tripod.dae" scale="0.04 0.04 0.04"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="tripod">
    <material>Gazebo/Grey</material>
    <mu1>50.0</mu1>
    <mu2>50.0</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
  </gazebo>
  <joint name="world_to_tripod" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="world"/>
    <child link="tripod"/>
  </joint>
  <gazebo reference="tripod">
    <material>Gazebo/Grey</material>
    <mu1>50.0</mu1>
    <mu2>50.0</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
  </gazebo>
  <link name="tripod_plate">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.04 0.4 0.015"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision name="tripod_collision">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.04 0.15 0.015"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="tripod">
    <material>Gazebo/Grey</material>
    <mu1>50.0</mu1>
    <mu2>50.0</mu2>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <selfCollide>false</selfCollide>
  </gazebo>
  <joint name="tripod_to_tripod_plate" type="fixed">
    <origin xyz="0.01 0.03 1.33" rpy="0.0 0.314 0.0"/>
    <parent link="tripod"/>
    <child link="tripod_plate"/>
  </joint>
  <link name="tripod_left_support"/>
  <joint name="tripod_plate_to_tripod_left_support" type="fixed">
    <origin xyz="0.0 0.18 0.0075" rpy="0.0 0.0 0.0"/>
    <parent link="tripod_plate"/>
    <child link="tripod_left_support"/>
  </joint>
  <link name="tripod_right_support"/>
  <joint name="tripod_plate_to_tripod_right_support" type="fixed">
    <origin xyz="0.0 -0.18 0.0075" rpy="0.0 0.0 0.0"/>
    <parent link="tripod_plate"/>
    <child link="tripod_right_support"/>
  </joint>
</robot>